.container-produtosScreen {
  background-color: #F5F5F5;
  width: 97vw;
  height: 82vh;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: hidden; 
}

/* Coluna da esquerda */
.coluna-categorias {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título "CATEGORIAS" */
.titulo-categorias {
  text-align: center;
  margin-bottom: 1rem;
}

/* Grid de botões */
.container-categoria-produtosScreen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Linha vertical separadora */
.linha {
  width: 1px;
  background-color: #ccc;
  height: 100%;
}

/* Coluna da direita */
.coluna-conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden; 
}

.container-titulo-carrinho-produtoScreen{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 3rem;
}

.containerConteudo-produtoScreen {
  background-color: white;
  flex: 1;
  border-radius: 10px;
  padding-top: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
  overflow-x: hidden;
  
}

.containerConteudo-produtoScreen::-webkit-scrollbar {
  width: 6px;
}

.containerConteudo-produtoScreen::-webkit-scrollbar-track {
  background: transparent;
}

.containerConteudo-produtoScreen::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
